# 데이터 중복 제거

중복데이터 제거에는 `pd.drop_duplicates()`를 사용한다

`DataFrame.drop_duplicates(subset=None, *, keep='first, inplace=False, ignore_index=False)`

In [8]:
import pandas as pd

df = pd.DataFrame({"Brand" : ["Yum Yum", "Yum Yum", "Indomie", "Indomie", "Indomie"],
                    "Style" : ["cup", "cup", "cup", "pack", "pack"],
                    "Rating" : [4, 4, 3.5, 15, 5]})

df

     Brand Style  Rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [5]:
# 중복 제거
df.drop_duplicates()

     Brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [6]:
df.drop_duplicates(subset=["Brand"])

     Brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5

In [9]:
df.drop_duplicates(subset=["Brand", "Style"], keep="last")

     Brand Style  Rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0

In [10]:
df.drop_duplicates(subset=["Brand", "Style"], keep="last", ignore_index=True)

     Brand Style  Rating
0  Yum Yum   cup     4.0
1  Indomie   cup     3.5
2  Indomie  pack     5.0