In [16]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.drop(['ID', 'COMPONENT_ARBITRARY'], axis=1, inplace=True)
test.drop(['ID', 'COMPONENT_ARBITRARY'], axis=1, inplace=True)

train.head()

,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,BE,CA,...,U25,U20,U14,U6,U4,V,V100,V40,ZN,Y_LABEL
0,2414,2008,2,550,1,9,107,1,0,3059,...,NaN,NaN,NaN,NaN,NaN,0,NaN,69.1,1512,0
1,1434,2012,36,200,0,1,162,0,0,170,...,NaN,NaN,NaN,NaN,NaN,0,13.8,108.5,986,0
2,1345,2012,2,200,0,7,145,0,0,2620,...,NaN,NaN,NaN,NaN,NaN,0,NaN,75.9,1156,0
3,2756,2008,10,550,0,3,7,0,0,3326,...,NaN,NaN,NaN,NaN,NaN,1,NaN,52.7,1343,0
4,3928,2012,7,200,0,0,2,0,0,2,...,NaN,NaN,NaN,NaN,NaN,0,13.2,93.7,1142,0

In [113]:
test.head()

,ANONYMOUS_1,YEAR,SAMPLE_TRANSFER_DAY,ANONYMOUS_2,AG,AL,B,BA,BE,CA,...,U50,U25,U20,U14,U6,U4,V,V100,V40,ZN
0,1779,2015,15,200,0,2,152,0,0,33,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,135.2,22
1,1802,2010,6,200,0,532,30,7,0,775,...,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,136.3,69
2,2082,2015,1,200,0,0,24,1,0,105,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,143.2,96
3,3095,2014,6,200,0,0,411,0,0,3038,...,NaN,NaN,NaN,NaN,NaN,NaN,16,NaN,136.7,29
4,2542,2009,4,200,0,1,3,1,0,72,...,NaN,NaN,NaN,NaN,NaN,NaN,0,14.8,112.7,1597

In [114]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12685 entries, 0 to 12684
Data columns (total 52 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ANONYMOUS_1          12685 non-null  int64
 1   YEAR                 12685 non-null  int64
 2   SAMPLE_TRANSFER_DAY  12685 non-null  int64
 3   ANONYMOUS_2          12685 non-null  int64
 4   AG                   12685 non-null  int64
 5   AL                   12685 non-null  int64
 6   B                    12685 non-null  int64
 7   BA                   12685 non-null  int64
 8   BE                   12685 non-null  int64
 9   CA                   12685 non-null  int64
 10  CD                   11421 non-null  float64
 11  CO                   12685 non-null  int64
 12  CR                   12685 non-null  int64
 13  CU                   12685 non-null  int64
 14  FH2O                 3501 non-null   float64
 15  FNOX                 3501 non-null   float64
 16  FOPTIMETHGLY         3501 non-null   float64
 17  FOXID                3501 non-null   float64
 18  FSO4                 3501 non-null   float64
 19  FTBN                 3501 non-null   float64
 20  FE                   12685 non-null  int64
 21  FUEL                 3501 non-null   float64
 22  H2O                  12685 non-null  float64
 23  K                    10614 non-null  float64
 24  LI                   12685 non-null  int64
 25  MG                   12685 non-null  int64
 26  MN                   12685 non-null  int64
 27  MO                   12685 non-null  int64
 28  NA                   12685 non-null  int64
 29  NI                   12685 non-null  int64
 30  P                    12685 non-null  int64
 31  PB                   12685 non-null  int64
 32  PQINDEX              12685 non-null  int64
 33  S                    12685 non-null  int64
 34  SB                   12685 non-null  int64
 35  SI                   12685 non-null  int64
 36  SN                   12685 non-null  int64
 37  SOOTPERCENTAGE       3501 non-null   float64
 38  TI                   12685 non-null  int64
 39  U100                 2091 non-null   float64
 40  U75                  2091 non-null   float64
 41  U50                  2091 non-null   float64
 42  U25                  2091 non-null   float64
 43  U20                  2091 non-null   float64
 44  U14                  1910 non-null   float64
 45  U6                   1910 non-null   float64
 46  U4                   1910 non-null   float64
 47  V                    12685 non-null  int64
 48  V100                 3349 non-null   float64
 49  V40                  12685 non-null  float64
 50  ZN                   12685 non-null  int64
 51  Y_LABEL              12685 non-null  int64
dtypes: float64(21), int64(31)
memory usage: 5.0 MB

In [17]:
null_list = ['FH2O', 'FNOX', 'FOPTIMETHGLY', 'FOXID', 'FSO4', 'FTBN', 'FUEL', 'SOOTPERCENTAGE', 'U100', 'U75', 'U50', 'U25', 'U20', 'U14', 'U6', 'U4', 'V100']

for col in null_list:
    train.drop(col, axis=1, inplace=True)
    test.drop(col, axis=1, inplace=True)

In [127]:
null_list = ['CD', 'FH2O', 'FNOX', 'FOPTIMETHGLY', 'FOXID', 'FSO4', 'FTBN', 'FUEL', 'K', 'SOOTPERCENTAGE', 'U100', 'U75', 'U50', 'U25', 'U20', 'U14', 'U6', 'U4', 'V100']

for col in null_list:
    train[col].fillna(train[col].mean(), inplace=True)
    test[col].fillna(test[col].mean(), inplace=True)

C:\Users\Noh\AppData\Local\Temp\ipykernel_20712\3662491768.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[col].fillna(train[col].mean(), inplace=True)
C:\Users\Noh\AppData\Local\Temp\ipykernel_20712\3662491768.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test[col].fillna(test[col].mean(), inplace=True)

In [ ]:
from optbinning import BinningProcess

In [20]:
import optuna
from xgboost import XGBClassifier
from sklearn.ensemble import RandomForestClassifier, VotingClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler, Normalizer
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.metrics import f1_score

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

train.drop(['ID', 'COMPONENT_ARBITRARY'], axis=1, inplace=True)
test.drop(['ID', 'COMPONENT_ARBITRARY'], axis=1, inplace=True)

null_list = ['FH2O', 'FNOX', 'FOPTIMETHGLY', 'FOXID', 'FSO4', 'FTBN', 'FUEL', 'SOOTPERCENTAGE', 'U100', 'U75', 'U50', 'U25', 'U20', 'U14', 'U6', 'U4', 'V100']

for col in null_list:
    train.drop(col, axis=1, inplace=True)
    test.drop(col, axis=1, inplace=True)

for col in ['CD', 'K']:
    train[col].fillna(train[col].mean(), inplace=True)
    test[col].fillna(test[col].mean(), inplace=True)

C:\Users\Noh\AppData\Local\Temp\ipykernel_21032\3728148606.py:21: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  train[col].fillna(train[col].mean(), inplace=True)
C:\Users\Noh\AppData\Local\Temp\ipykernel_21032\3728148606.py:22: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  test[col].fillna(test[col].mean(), inplace=True)

In [21]:
from imblearn.over_sampling import SMOTE
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import classification_report, confusion_matrix

import os
os.environ["LOKY_MAX_CPU_COUNT"] = "16"  

X = train.drop(['Y_LABEL'], axis=1)
y = train['Y_LABEL']

# 비율 유지하면서 stratify 분할
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# SMOTE 적용
# smote = SMOTE(k_neighbors=3, random_state=42)
# X_train_resampled, y_train_resampled = smote.fit_resample(X_train, y_train)

# 스케일링 적용
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)

lin_model = LogisticRegression()
rfg_model = RandomForestClassifier(n_estimators=200, random_state=42)
xgb_model = XGBClassifier(n_estimators=100, random_state=42)

lin_model.fit(X_train, y_train)
rfg_model.fit(X_train, y_train)
xgb_model.fit(X_train, y_train)

lin_pred = lin_model.predict(X_test)
rfg_pred = rfg_model.predict(X_test)
xgb_pred = xgb_model.predict(X_test)

lin_score = f1_score(y_test, lin_pred)
rfg_score = f1_score(y_test, rfg_pred)
xgb_score = f1_score(y_test, xgb_pred)

print(f"Linear Regression f1-score: {lin_score}")
print(f"Random Forest f1-score: {rfg_score}")
print(f"XGBoost f1-score: {xgb_score}")

c:\Users\Noh\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Linear Regression f1-score: 0.6803519061583577
Random Forest f1-score: 0.6941176470588235
XGBoost f1-score: 0.6778711484593838

In [ ]:
lin_preds = lin_model.predict(test)
rfg_preds = rfg_model.predict(test)
xgb_preds = xgb_model.predict(test)

submission = pd.DataFrame({
    'prediction' : xgb_preds
})
submission.to_csv('submission_xgb.csv', index=False)

In [22]:
# 데이터 분리
X_train = train.drop(columns=['Y_LABEL'])
y_train = train['Y_LABEL']

# Optuna - Logistic Regression
def objective_log(trial):
    model = LogisticRegression(
        penalty=trial.suggest_categorical('penalty', ['l1', 'l2']),
        C=trial.suggest_float('C', 0.01, 10.0),
        solver=trial.suggest_categorical('solver', ['liblinear', 'saga']),
        max_iter=trial.suggest_int('max_iter', 100, 500),
        random_state=42,
        n_jobs=-1
    )
    return cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1).mean()

study_log = optuna.create_study(direction='maximize')
study_log.optimize(objective_log, n_trials=10)

log_model = LogisticRegression(**study_log.best_params, random_state=42, n_jobs=-1)

# Optuna - XGBoost (n_estimators 고정)
def objective_xgb(trial):
    model = XGBClassifier(
        n_estimators=500,  # 고정
        learning_rate=trial.suggest_float('learning_rate', 0.01, 0.3),
        max_depth=trial.suggest_int('max_depth', 3, 30),
        min_child_weight=trial.suggest_int('min_child_weight', 1, 10),
        subsample=trial.suggest_float('subsample', 0.5, 1.0),
        colsample_bytree=trial.suggest_float('colsample_bytree', 0.5, 1.0),
        reg_alpha=trial.suggest_float('reg_alpha', 0.0, 1.0),
        reg_lambda=trial.suggest_float('reg_lambda', 0.0, 1.0),
        random_state=42,
        n_jobs=-1
    )
    return cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1).mean()

study_xgb = optuna.create_study(direction='maximize')
study_xgb.optimize(objective_xgb, n_trials=10)

xgb_model = XGBClassifier(**study_xgb.best_params, n_estimators=500, random_state=42, n_jobs=-1)

# Optuna - RandomForest (n_estimators 고정)
def objective_rf(trial):
    model = RandomForestClassifier(
        n_estimators=500,  # 고정
        max_depth=trial.suggest_int('max_depth', 3, 20),
        min_samples_split=trial.suggest_int('min_samples_split', 2, 10),
        min_samples_leaf=trial.suggest_int('min_samples_leaf', 1, 4),
        max_features=trial.suggest_categorical('max_features', ['sqrt', 'log2', None]),
        random_state=42,
        n_jobs=-1
    )
    return cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_absolute_error', n_jobs=-1).mean()

study_rf = optuna.create_study(direction='maximize')
study_rf.optimize(objective_rf, n_trials=10)

rf_model = RandomForestClassifier(**study_rf.best_params, n_estimators=500, random_state=42, n_jobs=-1)

[I 2025-05-13 12:38:48,854] A new study created in memory with name: no-name-79c1e1f5-bfb2-48d5-916a-c83f4b22400b

[I 2025-05-13 12:38:57,125] Trial 0 finished with value: -0.08498226251478123 and parameters: {'penalty': 'l1', 'C': 8.488771891516464, 'solver': 'saga', 'max_iter': 423}. Best is trial 0 with value: -0.08498226251478123.
[I 2025-05-13 12:39:02,217] Trial 1 finished with value: -0.04777296018919984 and parameters: {'penalty': 'l1', 'C': 8.884243321959296, 'solver': 'liblinear', 'max_iter': 494}. Best is trial 1 with value: -0.04777296018919984.
[I 2025-05-13 12:39:06,424] Trial 2 finished with value: -0.08537642885297596 and parameters: {'penalty': 'l2', 'C': 4.940005242693145, 'solver': 'saga', 'max_iter': 171}. Best is trial 1 with value: -0.04777296018919984.
[I 2025-05-13 12:39:10,480] Trial 3 finished with value: -0.08498226251478123 and parameters: {'penalty': 'l2', 'C': 6.726517392772987, 'solver': 'saga', 'max_iter': 445}. Best is trial 1 with value: -0.04777296018919984.
[I 2025-05-13 12:39:13,476] Trial 4 finished with value: -0.08537642885297596 and parameters: {'penalty': 'l1', 'C': 1.7506014324502972, 'solver': 'saga', 'max_iter': 285}. Best is trial 1 with value: -0.04777296018919984.
[I 2025-05-13 12:39:14,916] Trial 5 finished with value: -0.04761529365392196 and parameters: {'penalty': 'l2', 'C': 9.423637045855672, 'solver': 'liblinear', 'max_iter': 292}. Best is trial 5 with value: -0.04761529365392196.
[I 2025-05-13 12:39:17,933] Trial 6 finished with value: -0.08537642885297596 and parameters: {'penalty': 'l1', 'C': 3.450356809252262, 'solver': 'saga', 'max_iter': 280}. Best is trial 5 with value: -0.04761529365392196.
[I 2025-05-13 12:39:19,245] Trial 7 finished with value: -0.08553409538825385 and parameters: {'penalty': 'l1', 'C': 2.343914762637986, 'solver': 'saga', 'max_iter': 107}. Best is trial 5 with value: -0.04761529365392196.
[I 2025-05-13 12:39:20,995] Trial 8 finished with value: -0.0476941269215609 and parameters: {'penalty': 'l2', 'C': 9.846154464729196, 'solver': 'liblinear', 'max_iter': 369}. Best is trial 5 with value: -0.04761529365392196.
[I 2025-05-13 12:39:25,860] Trial 9 finished with value: -0.08482459597950336 and parameters: {'penalty': 'l1', 'C': 7.761778368938724, 'solver': 'saga', 'max_iter': 487}. Best is trial 5 with value: -0.04761529365392196.
[I 2025-05-13 12:39:25,860] A new study created in memory with name: no-name-26e57b28-262c-44d2-8b20-be9a7570f62d
[I 2025-05-13 12:39:28,742] Trial 0 finished with value: -0.04540796216003153 and parameters: {'learning_rate': 0.11621716669232478, 'max_depth': 19, 'min_child_weight': 6, 'subsample': 0.7505643603159595, 'colsample_bytree': 0.647517703105627, 'reg_alpha': 0.9294828744969336, 'reg_lambda': 0.6649969425051709}. Best is trial 0 with value: -0.04540796216003153.
[I 2025-05-13 12:39:31,432] Trial 1 finished with value: -0.04808829325975562 and parameters: {'learning_rate': 0.24411782327810852, 'max_depth': 11, 'min_child_weight': 2, 'subsample': 0.621546663255824, 'colsample_bytree': 0.5673339181238648, 'reg_alpha': 0.6571904092997718, 'reg_lambda': 0.3928254265130693}. Best is trial 0 with value: -0.04540796216003153.
[I 2025-05-13 12:39:35,403] Trial 2 finished with value: -0.044698462751281046 and parameters: {'learning_rate': 0.12014410456241338, 'max_depth': 17, 'min_child_weight': 1, 'subsample': 0.8947687910643897, 'colsample_bytree': 0.5579899593630142, 'reg_alpha': 0.6152265892197608, 'reg_lambda': 0.183242206481394}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:38,380] Trial 3 finished with value: -0.04611746156878203 and parameters: {'learning_rate': 0.13634616381827488, 'max_depth': 20, 'min_child_weight': 7, 'subsample': 0.8699125010617841, 'colsample_bytree': 0.826104288032043, 'reg_alpha': 0.8278319284512423, 'reg_lambda': 0.32266992632848546}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:41,231] Trial 4 finished with value: -0.04532912889239259 and parameters: {'learning_rate': 0.17232369648423848, 'max_depth': 23, 'min_child_weight': 5, 'subsample': 0.9869909848901456, 'colsample_bytree': 0.8396996637042464, 'reg_alpha': 0.20925161823328065, 'reg_lambda': 0.3078439100181086}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:44,504] Trial 5 finished with value: -0.04659046117461568 and parameters: {'learning_rate': 0.10458300686481914, 'max_depth': 16, 'min_child_weight': 3, 'subsample': 0.5722103894346381, 'colsample_bytree': 0.8648040685781694, 'reg_alpha': 0.20178173272017397, 'reg_lambda': 0.5029330283294569}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:47,002] Trial 6 finished with value: -0.04777296018919984 and parameters: {'learning_rate': 0.20895949968666577, 'max_depth': 26, 'min_child_weight': 8, 'subsample': 0.7283007107850838, 'colsample_bytree': 0.8143748730654541, 'reg_alpha': 0.8519594714826185, 'reg_lambda': 0.9320140875743171}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:48,581] Trial 7 finished with value: -0.04958612534489555 and parameters: {'learning_rate': 0.27017333586413306, 'max_depth': 3, 'min_child_weight': 5, 'subsample': 0.783267198390674, 'colsample_bytree': 0.7575431589027741, 'reg_alpha': 0.518441506379383, 'reg_lambda': 0.31340037990917424}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:51,485] Trial 8 finished with value: -0.04540796216003153 and parameters: {'learning_rate': 0.2682086458833755, 'max_depth': 14, 'min_child_weight': 1, 'subsample': 0.8262135117799221, 'colsample_bytree': 0.6800336271931833, 'reg_alpha': 0.2143268237211574, 'reg_lambda': 0.29453927353506837}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:53,837] Trial 9 finished with value: -0.0476941269215609 and parameters: {'learning_rate': 0.2885145969401791, 'max_depth': 6, 'min_child_weight': 6, 'subsample': 0.9087261937826281, 'colsample_bytree': 0.9773980479017637, 'reg_alpha': 0.9146546613610579, 'reg_lambda': 0.28252428242923366}. Best is trial 2 with value: -0.044698462751281046.
[I 2025-05-13 12:39:53,840] A new study created in memory with name: no-name-3040f4d0-ec19-437b-89c4-3e5c0ee5410d
[I 2025-05-13 12:39:57,884] Trial 0 finished with value: -0.047615293653921954 and parameters: {'max_depth': 5, 'min_samples_split': 10, 'min_samples_leaf': 3, 'max_features': 'sqrt'}. Best is trial 0 with value: -0.047615293653921954.
[I 2025-05-13 12:40:08,721] Trial 1 finished with value: -0.046432794639337804 and parameters: {'max_depth': 3, 'min_samples_split': 8, 'min_samples_leaf': 2, 'max_features': None}. Best is trial 1 with value: -0.046432794639337804.
[I 2025-05-13 12:40:12,788] Trial 2 finished with value: -0.04753646038628301 and parameters: {'max_depth': 5, 'min_samples_split': 4, 'min_samples_leaf': 1, 'max_features': 'sqrt'}. Best is trial 1 with value: -0.046432794639337804.
[I 2025-05-13 12:40:16,479] Trial 3 finished with value: -0.05810011824990145 and parameters: {'max_depth': 4, 'min_samples_split': 6, 'min_samples_leaf': 3, 'max_features': 'sqrt'}. Best is trial 1 with value: -0.046432794639337804.
[I 2025-05-13 12:40:48,289] Trial 4 finished with value: -0.04540796216003153 and parameters: {'max_depth': 9, 'min_samples_split': 4, 'min_samples_leaf': 2, 'max_features': None}. Best is trial 4 with value: -0.04540796216003153.
[I 2025-05-13 12:41:36,892] Trial 5 finished with value: -0.044698462751281046 and parameters: {'max_depth': 17, 'min_samples_split': 6, 'min_samples_leaf': 3, 'max_features': None}. Best is trial 5 with value: -0.044698462751281046.
[I 2025-05-13 12:41:44,608] Trial 6 finished with value: -0.04635396137169886 and parameters: {'max_depth': 13, 'min_samples_split': 3, 'min_samples_leaf': 1, 'max_features': 'sqrt'}. Best is trial 5 with value: -0.044698462751281046.
[I 2025-05-13 12:41:52,964] Trial 7 finished with value: -0.046748127709893575 and parameters: {'max_depth': 19, 'min_samples_split': 8, 'min_samples_leaf': 4, 'max_features': 'log2'}. Best is trial 5 with value: -0.044698462751281046.
[I 2025-05-13 12:41:56,402] Trial 8 finished with value: -0.058021284982262514 and parameters: {'max_depth': 4, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 5 with value: -0.044698462751281046.
[I 2025-05-13 12:42:02,956] Trial 9 finished with value: -0.046826960977532514 and parameters: {'max_depth': 10, 'min_samples_split': 2, 'min_samples_leaf': 1, 'max_features': 'log2'}. Best is trial 5 with value: -0.044698462751281046.

In [ ]:
from sklearn.ensemble import VotingClassifier

voting_model = VotingClassifier(estimators=[
    ('log', log_model),
    ('rf', rf_model),
    ('xgb', xgb_model)
], weights=[1, 5, 4], voting='soft', n_jobs=-1)

# 학습 및 예측
voting_model.fit(X_train, y_train)
test_preds = voting_model.predict(test)

# 결과 저장
submission_voting = pd.DataFrame({'prediction': test_preds})
submission_voting.to_csv('voting_submission.csv', index=False)

print("✅ 'voting_submission.csv' 저장됨.")

✅ 'voting_submission_rf7_xgb3.csv' 저장됨.